---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
import BlogList from "../../../components/BlogList.astro";
import Badge from "../../../components/Badge.astro";
import { SITE_TITLE } from "../../../consts";
import { getCollection } from "astro:content";
import { isPublished } from "../../../utils";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = [...new Set(posts.flatMap((post) => post.data.tags))];

  return tags.map((tag) => ({
    params: { tag },
    props: {
      tag,
      posts: posts
        .filter((post) => post.data.tags.includes(tag))
        .filter(isPublished)
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
    },
  }));
}

const { tag, posts } = Astro.props;
const tagName = String(tag);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`Tag: ${tagName} - ${SITE_TITLE}`}
      description={`Posts tagged with ${tagName}`}
    />
    <style>
      main {
        width: 720px;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <Badge label="Tag:" text={`#${tagName}`} />
      <section>
        <BlogList posts={posts} />
      </section>
    </main>
    <Footer />
  </body>
</html>
