---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type PublishedPost = CollectionEntry<"blog"> & { data: { pubDate: Date } };

interface Props {
  posts: PublishedPost[];
}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.id}/`}>
          <h4 class="title">{post.data.title}</h4>
        </a>
        <p class="date">
          <FormattedDate date={post.data.pubDate} /> •{" "}
          {post.data.tags.map((tag) => (
            <a class="tag" href={`/blog/tag/${tag}`}>
              #{tag}{" "}
            </a>
          ))}
        </p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    padding: 1.25rem 0;
    border-bottom: 1px solid rgba(var(--gray), 0.15);
  }
  ul li:last-child {
    border-bottom: none;
  }
  a {
    text-decoration: none;
  }
  .title {
    margin: 0;
    line-height: 1;
  }
  .title:hover {
    color: var(--highlight);
    text-decoration: underline;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  ul a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    ul {
      gap: 0;
    }
    ul li {
      width: 100%;
      text-align: center;
    }
    ul li:first-child {
      margin-bottom: 0;
    }
    ul li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
